{
	"absBase64Code":"",
	"appId":"ALIPUB5E7105D301040",
	"appKey":"ALIPUB5E7105D301040_ANDROID",
	"base64Code":"",
	"packageName":"com.google.samples.apps.sunflower",
	"rootPath":"mpaas/android/ALIPUB5E7105D301040-default",
	"v6Base64Code":"",
	"workspaceId":"default",
	"syncport":"443",
	"syncserver":"msync.mpaas.cn-hangzhou.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"push.mpaas.cn-hangzhou.aliyuncs.com",
	"rpcGW":"https://mgw.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"logGW":"https://mdap.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasapi":"https://mpaasapi.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"mrtcserver":"wss://mrtc.mpaas.cn-hangzhou.aliyuncs.com/ws",
	"mdc":"https://mdc.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasConfigVersion":"V_1.0",
	"mpaasConfigEnv":"ONEX_CLOUD",
	"mpaasConfigPluginExpired":"",
	"mpaasConfigLicense":"WG+t80nxRJatVYn7icPjxj9VNRX5JFLKVIKw1eyhQtsaP4KzLdsJ3qQ1kHQGYcnn+7agdNZIppc9NnGnm8BzpqTi2XDHwVfb+e57b2dmRNUWV0hlBuyKrfNf8cico2g7xvbZaRMPBa1yaw3o3MHu88tiipq4Mhg/ZJJwZf4GPlKQnaEEiWCcsyZcdKE/2p0H3tez0eFU9PAXsPVcCThqMNJfV/DhJfm1ktmB3+WmVaq5NQYQHDCOJnU8cdTmhQWK+hJjmvZgIv6KFU459scRopKi8Ac9eVQ7wbcla4heAj5ulhCrvDKhBY4eKtIaIQ42CYvsO9efuwOSsHd/OTae3g=="
}